alias v="nvim"
alias py="python3"
alias mv="mv -i"
alias tx="tmux"
alias ta="tx a -t"
alias tn="tx new -s"
alias tls="tx ls"
alias tkil="tx kill-session -t"

alias vf=vim-fzf-find
alias cdd="fzf-cdr"


alias gopls="~/go/bin/gopls"

vim-fzf-find() {
    local FILE=$(find ./ -path '*/\.*' -name .git -prune -o -type f -print 2> /dev/null | fzf +m)
    if [ -n "$FILE" ]; then
        v $FILE
    fi
}



